.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.login-container, .register-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

input {
  display: block;
  width: calc(100% - 20px);
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: calc(100% - 20px);
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #bd481d;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #625b5c;
}

span {
  color: #ba3925;
  cursor: pointer;
}

span:hover {
  text-decoration: underline;
}